<?xml version="1.0"?>
<config>
    <modules>
        <MOC_CatalogDescExpand>
            <version>0.0.1</version>
        </MOC_CatalogDescExpand>
    </modules>

    <frontend>
        <routers>
            <catalogdescexpand>
                <use>standard</use>
                <args>
                    <module>MOC_CatalogDescExpand</module>
                    <frontName>catalogdescexpand</frontName>
                </args>
            </catalogdescexpand>
        </routers>

        <layout>
            <updates>
                <catalogdescexpand module="MOC_CatalogDescExpand">
                    <file>moc/catalogdescexpand.xml</file>
                </catalogdescexpand>
            </updates>
        </layout>
    </frontend>

</config>
